body{
    align-items: center;
    text-align: center;
    position: relative;
    top:20px;
     font-size: 2.2rem;
    font-weight:900}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 40vh;

}
.btn{
    width: 300px;
    height: 100px;
    border: none;
    color:white;
    background-color:purple;
    border-radius: 20rem;
    box-shadow: inset 0px 0px 0px ;
    font-size: 2rem;
    // transition: ease-in 0.3s;
    outline: none;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(97, 1, 97);
}