
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik&family=Spline+Sans:wght@600&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

.loginPageContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

.loginPageImage {
    margin-top: 7vh;
    height: 200px;
    border-radius: 13%;
}

.loginPageHeading {
    margin-top: 4vh;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPageInput {
    margin-bottom: 30px;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(243, 237, 237);
    padding: 5px;
    font-size: 16px;
    background-color:rgb(243, 237, 237)
}

.siginButton:hover {
   background-color:rgb(157, 74, 216);
}

.siginButton {
    background-color:rgb(141, 41, 213);
    height: 52px;
    border: none;
    align-items: center;
    width: 250px;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 40px;
}

.concernMessage{
    font-size: 14px;
    font-weight: 300;
}

span {
    color:rgb(141, 41, 213);
}

.endButton {
    margin-top: 20px;
    border: 1px solid rgb(233, 228, 228);
    padding: 5px 8px;
    background-color:white;
}

.socialIconsContainer {
    display: flex;
    flex-direction: row;
}

.socialIcons:hover{
    cursor: pointer;
}

.socialIcons {
    margin-top: 40px;
    height: 30px; 
    margin: 40px;
}